.content-form {
    margin-bottom: 20px;
}
.combobox-categories {
    width: 100%;
}
.empty-combobox-multiple {
    font-size: 12px;
}
.list-combobox-multiple {
    font-size: 14px;
}

.title-select-layout {
    font-size: 14px;
    color: #666;
    padding-top: 6px;
}

.img-block-layout {
    border: 2px solid white;
    cursor: pointer;
}

.img-block-layout:hover {
    border: 2px solid #28a745;
}