body {
  margin: 0;
}
.sideBar {
  margin: 0;
  padding: 0;
  width: 256px;
  background-color: #fff;
  position: absolute;
  height: 100%;
  overflow: auto;
  .list-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name-pages {
      padding-left: 10px;
    }
    .button-pages {
      .btn-edit-page {
        margin-right: 5px;
      }
    }
  }
  .div-page-buton {
    margin-top: 40px;
    text-align: center;
    .btn-add-page {
      font-size: 10px;
      height: 28px;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .pages-title {
    height: 36px;
    padding: 7.8px 22px 8.3px 20px;
    margin: 2.5px 82px 1.5px 0;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    color: rgba(60, 60, 67, 0.6);
  }
  .pages-back {
    opacity: 0.9;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(60, 60, 67, 0.6);
    height: 42px;
    padding-left: 0px;
    padding-top: 14px;
  }
  .icon {
    color: rgba(60, 60, 67, 0.6);
  }
  a.menu-pages {
    display: block;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #1c1c1e;
    width: 256px;
    height: 50px;
    padding-top: 8px;
  }
  a.back {
    margin-bottom: 20px;
  }
  a.selected {
    background-color: rgba(235, 235, 245, 0.3);
    color: #000;
    text-decoration: none;
    .icon-pages {
      .icon {
        color: #007aff;
      }
    }
  }
  a.menu-pages:hover:not(.selected) {
    background-color: rgba(235, 235, 245, 0.3);
    color: #1c1c1e;
    text-decoration: none;
  }
  a.back {
    text-decoration: none;
  }
}
div.content {
  margin-left: 256px;
  padding: 1px 10px;
  height: 100%;
  .content-blocks {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    .div-accordion {
      .btn-add-block {
        margin-top: 20px;
        font-size: 11px;
        height: 28px;
        text-transform: uppercase;
      }
    }
  }
  .blocks {
    width: 100%; 
    .block {
      height: 100%;
      margin-left: 12px;
      border: solid 1px #e5e5ea;
      background-color: #ffffff;
    }
  }
}